body{
	background-image: url(../img/circuit.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

main{ 
    section {
        article{
            color: $secondcolor;
            font-weight:$textReg;
        }
    }
}
