/*footer*/
.foot{
	/*padding*/
	padding:30px;
	/****display flex****/
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.foot a{
	text-decoration: none;
}

.foot__icon--sm{
	/*size*/
	width: 30px;
}

.foot__titulo--md{
	font-size: $textSm;
}