.add__WA{
	text-align: $textCenter;
    width: 100%;
	background-color: $WA_color;
    color:  $White_color;
    font-size: $textSm;
    
	/*padding*/
	padding: 4px 0;
    font-weight: $textBold;
    
}

nav {
    list-style:none;
    background-color: $secondcolor;
    width: 100%;
    ul {
        li{
        display: inline-block;
        margin-right: 10px;
            a{
            color: $White_color;
            text-decoration: none;
            font-family: $firstfont;
            font-size: $textSm;
             }
         }
        }

}